@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

h1 {
  font-size: 2rem;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 120%;
}

H2 {
  font-size: 1.75rem;
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  line-height: 100%;
}

h3 {
  font-size: 1.25rem;
  font-family: "PT Sans", sans-serif;
}

h4 {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
}

p {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-style: oblique;
}

/* font-family: 'Open Sans', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'PT Sans', sans-serif; */
main {
  background-color: #f2f2f2;
}

@media (min-width: 768px) {
  h1 {
    font-size: 2.2rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.25rem;
  }
  h4 {
    font-size: 1.1rem;
  }
  p {
    font-size: 1rem;
  }
}
@media (min-width: 1024px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.2rem;
  }
  h3 {
    font-size: 1.5rem;
  }
}
.button, .button__submit, .button__submit--white, .button--grey {
  border: 0.5px solid #fb6e42;
  background-color: #fb6e42;
  color: white;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-family: "open Sans", sans-serif;
  border-radius: 0.5rem;
}
.button--grey {
  border: 0.5px solid #d1d1d1;
  background-color: #d1d1d1;
  color: black;
}
.button--small {
  border: 0.5px solid #d1d1d1;
  background-color: #d1d1d1;
  color: black;
  padding: 0.2rem 0.7rem;
  font-size: 0.9rem;
  font-family: "open Sans", sans-serif;
  border-radius: 0.5rem;
  margin: 0.5rem 0;
}
.button--small:hover {
  background-color: #f2f2f2;
}
.button__submit, .button__submit--white {
  text-align: center;
  padding: 0;
}
.button__submit--white {
  background-color: white;
  color: #fb6e42;
}

nav div a img {
  width: 85%;
  max-width: 260px;
}

.pl-0 {
  padding-left: 0;
}

.nav-link:hover {
  color: #fb6e42;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background-color: #f2f2f2;
  margin-bottom: 1rem;
}

.suscripcion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
  background-color: white;
  margin: 1rem;
}

.suscripcion h3 {
  text-align: center;
}

.suscripcion form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.suscripcion form input {
  width: 300px;
  height: 25px;
  font-size: 0.9rem;
}

label {
  display: none;
}

.footer__contacto {
  display: grid;
  grid-template-columns: 25% 50% r 25%;
  grid-template-rows: 1fr 1fr 2fr;
  gap: 0.75rem;
  justify-content: center;
  align-content: start;
  margin-bottom: 1rem;
}

.footer__legales {
  grid-column: 2/3;
  justify-self: center;
  font-family: "Open sans", sans-serif;
}

.footer__cookies {
  grid-column: 2/3;
  grid-row: 2/3;
  justify-self: center;
  font-family: "open Sans", sans-serif;
}

.footer__instagram {
  grid-column: 2/3;
  grid-row: 3/4;
  align-self: center;
  font-size: 1.25rem;
}

.footer__instagram a {
  color: #c7c7c7;
}

.footer__linkedin {
  grid-column: 2/3;
  grid-row: 3/4;
  align-self: center;
  justify-self: center;
  font-size: 1.25rem;
}

.footer__linkedin a {
  color: #c7c7c7;
}

.footer__mail {
  grid-column: 2/3;
  grid-row: 3/4;
  justify-self: end;
  align-self: center;
  font-size: 1.25rem;
}

.footer__mail a {
  color: #c7c7c7;
}

footer img {
  width: 85%;
  max-width: 221px;
  padding: 0;
  margin-bottom: 1rem;
}

.contacto__container {
  padding-bottom: 2rem;
}

.contacto__container ul {
  padding: 0;
  margin: 0;
}

@media (min-width: 768px) {
  footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .contacto__container {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  footer img {
    grid-column: 1/3;
    justify-self: center;
  }
}
@media (min-width: 1024px) {
  footer img {
    grid-column: 1/2;
    grid-row: 1/2;
    justify-self: center;
    align-self: end;
  }
}
.contactanos {
  background-color: #fb6e42;
}
.contactanos__formulario {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  max-width: 480px;
  justify-content: center;
}
.contactanos__formulario legend {
  color: white;
  text-align: center;
}
.contactanos__formulario label {
  display: block;
  color: white;
}
.contactanos__formulario input,
.contactanos__formulario textarea {
  width: 100%;
  border-color: white;
}
.contactanos h2 {
  padding-top: 2.5rem;
  text-align: center;
  color: white;
}
.contactanos img {
  display: none;
}

@media (min-width: 768px) {
  .contactanos {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 1024px) {
  .contactanos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }
  .contactanos__formulario {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .contactanos img {
    display: block;
    height: 90%;
    width: 90%;
    object-fit: cover;
    max-height: 650px;
  }
}
/*--- Primera sección index ---*/
.presentacion {
  background-color: #f2f2f2;
}
.presentacion__articulo {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
  padding-top: 1.5rem;
}

/* --- Segunda sección Index --- */
.servicios {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #fb6e42;
  padding: 2rem 1rem;
}
.servicios h2 {
  padding: 1rem;
  text-align: center;
  color: white;
}
.servicios__tarjeta {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  background-color: white;
  align-items: center;
  padding: 1rem;
  margin: 1rem auto;
  max-width: 480px;
}
.servicios__tarjeta-icono {
  width: 30%;
}

/* --- Tercera seccion index */
.potenciate {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  background-color: #f2f2f2;
  padding: 1rem;
}
.potenciate img {
  width: 100%;
  height: 406px;
  object-fit: cover;
}
.potenciate p {
  font-style: normal;
  padding-top: 1rem;
}

/* ---Cuarta seccion index--- */
.testimonios {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 2rem 1rem;
  background-color: #f2f2f2;
}
.testimonios__titulos {
  text-align: center;
  padding: 0.5rem;
}
.testimonios__tarjeta, .testimonios__tarjeta--orange {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 1rem;
  margin: 1rem auto;
  max-width: 480px;
}
.testimonios__tarjeta--orange {
  background-color: #fb6e42;
}
.testimonios__tarjeta img, .testimonios__tarjeta--orange img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.testimonios__tarjeta h4, .testimonios__tarjeta--orange h4 {
  padding: 1rem;
}
.testimonios__icono {
  font-size: 1.75rem;
  position: relative;
  bottom: 32px;
}
.testimonios p {
  padding: 0 1rem 1rem;
}

/* **************************************** VERSION TABLET ************************************* */
@media (min-width: 768px) {
  /* ---Primera sección Index--- */
  .presentacion__articulo {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
  .presentacion__articulo img {
    grid-row: 1/3;
    grid-column: 3/6;
  }
  .presentacion__articulo h3 {
    grid-column: 1/3;
    align-self: self-end;
  }
  .presentacion__articulo h1 {
    grid-row: 2/3;
    grid-column: 1/3;
    align-self: flex-start;
    text-align: left;
    padding-left: 2rem;
  }
  /* --- Segunda sección Index --- */
  .servicios__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin: 0 1rem;
  }
  /* --- Tercera seccion index */
  .potenciate {
    display: flex;
    flex-direction: row;
  }
  .potenciate h3 {
    text-align: left;
    padding: 0;
  }
  /* ---Cuarta seccion index--- */
  .testimonios__tarjeta img, .testimonios__tarjeta--orange img {
    width: 75px;
    height: 75px;
  }
}
/* ********************* VERSION DESKTOP ************************ */
@media (min-width: 1024px) {
  /* --- Primera seccion index --- */
  .presentacion__articulo h3 {
    padding-left: 3rem;
  }
  /* --- Segunda sección Index --- */
  .servicios__container {
    display: flex;
    flex-direction: row;
  }
  .servicios__container h3 {
    text-align: center;
  }
  /* --- Tercera sección Index --- */
  .potenciate__texto {
    padding: 3rem;
  }
  /* --- Cuarta sección Index --- */
  .testimonios__tarjetacontainer {
    display: flex;
    gap: 1rem;
  }
}
@media (min-width: 1200px) {
  .presentacion__articulo h1 {
    font-size: 3.7rem;
    padding-left: 3rem;
  }
  .testimonios h3 {
    padding: 2rem 3rem;
    margin: 0 3rem;
    text-align: center;
  }
}
.curriculum {
  background-color: white;
}
.curriculum img {
  max-height: 400px;
  margin: auto;
  display: block;
}
.curriculum__encabezado {
  text-align: center;
  font-style: normal;
}
.curriculum p {
  padding: 1.5rem 0;
}
.curriculum h1 {
  padding-top: 1.5rem;
  text-align: center;
}
.curriculum__carta-titulo {
  margin-top: 2rem;
}

/* --- Segunda sección Curriculum */
.cvwriting article {
  padding: 1rem 1rem 0 1rem;
  background-color: #d1d1d1;
}
.cvwriting article p {
  margin-bottom: 0;
  font-style: normal;
}
.cvwriting h3 {
  text-align: center;
}

/* --- Tercera seccion curriculum --- */
.contactanos img {
  display: none;
}

/* ******************************************VERSION TABLET***********************************/
@media (min-width: 768px) {
  .curriculum__servicios {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 200px);
    margin-bottom: 1rem;
  }
  .curriculum__servicios img {
    grid-column: 2/3;
    grid-row: 1/3;
    max-height: 493.73px;
    object-fit: cover;
    justify-self: center;
  }
  .curriculum__carta {
    grid-column: 1/3;
    grid-row: 3/4;
  }
  .curriculum__traduccion {
    grid-column: 1/3;
    grid-row: 4/5;
  }
  /* --- Segunda seccion Curriculum ---*/
  .cvwriting h2 {
    text-align: center;
  }
  .cvwriting img {
    width: 100%;
    object-fit: cover;
  }
  /* --- Tercera seccion Curriculum --- */
  .curriculum contacto img {
    display: none;
  }
}
/******************************VERSION DESKTOP************************/
@media (min-width: 1024px) {
  .curriculum__servicios {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 250px);
  }
  .curriculum__carta {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .curriculum__carta h2 {
    margin: 0 0 8px;
  }
  .curriculum__traduccion {
    grid-column: 3/4;
    grid-row: 2/3;
  }
  /* ---Segunda seccion Curriculum --- */
  .cvwriting {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .cvwriting img {
    grid-column: 1/2;
    grid-row: 1/2;
    height: 100%;
    object-fit: cover;
  }
  .cvwriting article h2 {
    text-align: left;
    padding: 0;
  }
  .cvwriting article h3 {
    text-align: left;
  }
  .contactanos img {
    display: block;
    max-height: 650px;
  }
}
.consultoria {
  background-color: white;
}
.consultoria img {
  max-height: 400px;
  margin: auto;
  display: block;
}
.consultoria__encabezado {
  text-align: center;
  font-style: normal;
}
.consultoria p {
  padding: 1.5rem 0;
}
.consultoria h1 {
  padding-top: 1.5rem;
  text-align: center;
}
.consultoria__career-titulo {
  margin-top: 2rem;
}

/*---- Segunda seccion Coaching ----*/
.consultoria__consultores {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.consultoria__consultores h2 {
  padding: 1rem;
  text-align: center;
}
.consultoria__consultores p {
  font-style: normal;
  padding: 1rem;
}
.consultoria__consultores-fichas {
  padding: 0.5rem 0;
  width: 100%;
}
.consultoria__consultores-fichas img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: solid white 0.8px;
  position: relative;
  bottom: 32px;
}
.consultoria__ficha1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin: 3rem;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  max-width: 392px;
  border-radius: 2%;
}
.consultoria__ficha1 a {
  padding-bottom: 1rem;
}
.consultoria__ficha1 a i {
  font-size: 2rem;
  color: #fb6e42;
}
.consultoria__ficha1 hr {
  width: 50%;
  height: 2px;
  background-color: black;
  color: black;
}

/*---- Tercera seccion coaching ----*/
.contactanos img {
  display: none;
}

/* ******************************************VERSION TABLET***********************************/
@media (min-width: 768px) {
  .consultoria__servicios {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 200px);
    margin-bottom: 1rem;
  }
  .consultoria__servicios img {
    grid-column: 2/3;
    grid-row: 1/3;
    max-height: 493.73px;
    object-fit: cover;
    justify-self: center;
  }
  .consultoria__career {
    grid-column: 1/3;
    grid-row: 3/4;
  }
  .consultoria__linkedin {
    grid-column: 1/3;
    grid-row: 4/5;
  }
  /*---- segunda seccion coaching ----*/
  .consultoria__consultores-fichas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .consultoria__ficha1 {
    width: 80%;
    margin: 3rem 1rem;
  }
  /*---- Tercera seccion coaching ----*/
  .contactanos img {
    display: none;
  }
}
/******************************VERSION DESKTOP************************/
@media (min-width: 1024px) {
  .consultoria__servicios {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 250px);
  }
  .consultoria__career {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .consultoria__career h2 {
    margin: 0 0 8px;
  }
  .consultoria__linkedin {
    grid-column: 3/4;
    grid-row: 2/3;
  }
  /*---- Segunda seccion coaching----*/
  .consultoria__consultores-fichas {
    flex-direction: row;
    justify-content: space-around;
  }
  .consultoria__consultores h2 {
    margin-top: 2rem;
  }
  .consultoria__consultores p {
    text-align: center;
  }
  /*--- Tercera seccion coaching ---*/
  .contactanos img {
    display: block;
    max-height: 650px;
  }
}
.empresas {
  background-color: white;
}

.outplacement h1 {
  text-align: center;
  padding: 1.5rem;
}
.outplacement h2 {
  text-align: center;
}
.outplacement p {
  font-style: normal;
  padding-top: 1rem;
}

/*--- segunda seccion empresas ---*/
.ventajas__articulo {
  background-color: #f2f2f2;
}
.ventajas__articulo p {
  padding: 1rem;
}
.ventajas__articulo h2 {
  padding-left: 1rem;
}
.ventajas__articulo button {
  margin: 0.5rem 1rem;
}
.ventajas__desc {
  border: solid black 2px;
  margin: 1rem;
  background-color: #f2f2f2;
}
.ventajas__desc p {
  font-style: normal;
  padding: 1rem 0 0 0;
}
.ventajas__desc i {
  font-size: 2rem;
  background-color: #fb6e42;
  padding: 0.3rem 0.5rem;
  color: white;
  border-radius: 10%;
}
.ventajas__desc-item {
  margin: 1rem;
}

/*---- tercera seccion empresas ----*/
#linkedin__empresas {
  padding-top: 1rem;
  background-color: #f2f2f2;
}
#linkedin__empresas h2, #linkedin__empresas h3 {
  text-align: center;
}
#linkedin__empresas p {
  font-style: normal;
  padding: 1rem;
}

/*# sourceMappingURL=styles.css.map */
