.curriculum {

    background-color: $color-white;

    img {
        max-height: 400px;
        margin: auto;
        display: block;
    }

    &__encabezado {
        text-align: center;
        font-style: normal;
    }

    p {
        padding: 1.5rem 0;
    }

    h1 {
        padding-top: 1.5rem;
        text-align: center;
    }

    &__carta-titulo {
        margin-top: 2rem;
    }
}

/* --- Segunda sección Curriculum */

.cvwriting {

    article {
        padding: 1rem 1rem 0 1rem;
        background-color: $color-greyf2;

        p {
            margin-bottom: 0;
            font-style: normal;
            padding-right: 1rem;
        }
    }

    h3 {
        text-align: center;
    }
}

/* --- Tercera seccion curriculum --- */

.contactanos {
    img {
        display: none;
    }
}

/* ******************************************VERSION TABLET***********************************/

@media (min-width: 768px) {

    .curriculum {

        &__servicios {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: repeat(4, 200px);
            margin-bottom: 1rem;

            img {
                grid-column: 2/3;
                grid-row: 1/3;
                max-height: 493.73px;
                object-fit: cover;
                justify-self: center;
            }
        }

        &__carta {
            grid-column: 1/3;
            grid-row: 3/4;
        }

        &__traduccion {
            grid-column: 1/3;
            grid-row: 4/5;
        }
    }


    /* --- Segunda seccion Curriculum ---*/

    .cvwriting {
        h2 {
            text-align: center;
        }

        img {
            width: 100%;
            object-fit: cover;
        }
    }

    /* --- Tercera seccion Curriculum --- */

    .curriculum contacto img {
        display: none
    }

}

/******************************VERSION DESKTOP************************/


@media (min-width: 1024px) {

    .curriculum {
        &__servicios {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 250px)
        }

        &__carta {
            grid-column: 1/2;
            grid-row: 2/3;

            h2 {
                margin: 0 0 8px;
            }
        }

        &__traduccion {
            grid-column: 3/4;
            grid-row: 2/3;
        }
    }

    /* ---Segunda seccion Curriculum --- */

    .cvwriting {
        display: grid;
        grid-template-columns: 1fr 1fr;

        img {
            grid-column: 1/2;
            grid-row: 1/2;
            height: 100%;
            object-fit: cover;
        }

        article {
            h2 {
                text-align: left;
                padding: 0;
            }

            h3 {
                text-align: left;
            }
        }
    }

    //---- Tercera seccion curriculum ----/

    .contactanos img {
        display: block;
        max-height: 650px
    }
}