.empresas {
    background-color: white;
}

.outplacement {

    h1 {
        text-align: center;
        padding: 1.5rem;
    }

    h2 {
        text-align: center;
    }

    p {
        font-style: normal;
        padding-top: 1rem;
    }

}


/*--- segunda seccion empresas ---*/

.ventajas {
    background-color: #f2f2f2;

    &__articulo {
        background-color: #f2f2f2;

        p {
            padding: 1rem;
        }

        h2 {
            padding-left: 1rem;
        }

        button {
            margin: 0.5rem 1rem
        }
    }

    &__desc {
        border: solid black 2px;
        margin: 1rem;
        background-color: #f2f2f2;

        p {
            font-style: normal;
            padding: 1rem 0 0 0;
        }

        i {
            font-size: 2rem;
            background-color: #fb6e42;
            padding: 0.3rem 0.5rem;
            color: white;
            border-radius: 10%;
        }

        &-item {
            margin: 1rem;

        }

    }
}

/*---- tercera seccion empresas ----*/

#linkedin__empresas {
    padding-top: 1rem;
    background-color: #f2f2f2;

    h2,
    h3 {
        text-align: center;

    }

    p {
        font-style: normal;
        padding: 1rem;
    }
}

/*---- cuarta seccion empresas -----*/

.clientes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding-bottom: 1rem;

    h2 {
        text-align: center;
        padding: 2rem 1rem;
    }

    
}

/* ******************************************VERSION TABLET***********************************/

@media (min-width: 768px) {

    .outplacement {
        img {
            height: 350px;
            object-fit: cover;
            width: 100%;
        }
    }

    /*---- tercera seccion empresas ----*/

    #linkedin__empresas {

        img {
            max-height: 290px;
            object-fit: cover;
            width: 100%;
        }
    }

    /*---- cuarta seccion empresas -----*/

    .clientes {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(4, 1fr);
        justify-content: center;

        h2 {
            grid-column: 1/3;
        }

        img {
            justify-self: center;
        }

        &__puntofrio {
            grid-column: 1/3;
        }
    }

}

/*******************************VERSION DESKTOP***********************/

@media (min-width: 1024px) {

    .outplacement {
        display: grid;
        grid-template-columns: 1fr 1fr;

        &__texto {
            grid-column: 2/3;

            h2 {
                text-align: left;
                padding-left: 1.5rem;
                font-size: 3rem;
            }

            h1 {
                text-align: left;
                padding: 0.5rem 0 0.5rem 1.5rem;
                font-size: 1.75rem;
            }

            p {
                padding: 1rem 3rem 0 1.5rem;
            }

        }

        &__imagen {
            grid-column: 1/2;
            grid-row: 1/2;

            img {
                height: 100%;
                max-height: 340px;
                object-fit: cover;
                width: 100%;
            }
        }

    }

    /*--- segunda seccion empresas ---*/

    .ventajas {
        display: grid;
        grid-template-columns: 40% 60%;
        background-color: #f2f2f2;
        padding: 1rem;
        gap: 1rem;

        &__articulo {
            p {
                padding: 2rem;
                margin-bottom: 0;
            }

            h2 {
                padding-left: 2rem;
            }

            button {
                margin: 0.5rem 2rem;
            }
        }

        &__desc {
            &-item {
                display: flex;
                gap: 1rem;

                i {
                    align-self: flex-start;
                    font-size: 1.5rem;
                }

                p {
                    padding: 0;
                }
            }
        }
    }
    /*---- tercera seccion empresas ----*/
    
    #linkedin__empresas{
        display:grid;
        grid-template-columns: 50% 50%;
        &-texto{
            grid-column: 2/3;
            h2{
                text-align: left;
                padding-left: 1rem;
            }
            h3{
                text-align: left;
                padding-left: 1rem;
            }

            padding-right: 1rem;
        }
        img{
            grid-column: 1/2;
            grid-row: 1/2;
            height: 100%;
            object-fit: cover;
        }


    }

    /*---- cuarta seccion empresas ----*/

    .clientes{
        grid-template-columns: repeat(5,1fr);
        grid-template-rows: 1fr 2fr;
        padding: 0 2rem;
        h2{
            grid-column: 1/6;
            margin-top: 2rem;
            text-decoration: underline;
        }
        &__puntofrio{
            grid-column: 5/6;
        }
    }



}