/*--- Primera sección index ---*/

.presentacion {
    background-color: $color-greyf2;

    &__articulo {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 1rem;
        padding-top: 1.5rem;
    }
}

/* --- Segunda sección Index --- */

.servicios {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: $color-orange;
    padding: 2rem 1rem;

    h2 {
        padding: 1rem;
        text-align: center;
        color: $color-white;
    }

    &__tarjeta {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 1rem;
        background-color: $color-white;
        align-items: center;
        padding: 1rem;
        margin: 1rem auto;
        max-width: 480px;
        box-shadow: 0 1px 1px 0 $color-sombra;
        &:hover{
            box-shadow: 0 1px 1px 5px $color-sombra;
            
        }
        
    } 

    &__tarjeta-icono {
        width: 30%;
    }
}

/* --- Tercera seccion index */

.potenciate {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    background-color: $color-sombra;
    padding: 1rem;

    img {
        width: 100%;
        height: 406px;
        object-fit: cover;
    }

    p {
        font-style: normal;
        padding-top: 1rem;
    }
}

/* ---Cuarta seccion index--- */

.testimonios {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 2rem 1rem;
    background-color: $color-greyf2;

    &__titulos {
        text-align: center;
        h3{
            padding: 1rem;
        }
        
    }

    &__tarjeta {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: $color-white;
        padding: 1rem;
        margin: 1rem auto;
        max-width: 480px;
        box-shadow: 0 1px 1px 0 $color-sombra;
        

        &--orange {
            @extend.testimonios__tarjeta;
            background-color: $color-orange;
        }

        img {
            width: 70px;
            height: 70px;
            border-radius: 50%;
        }

        h4 {
            padding: 1rem;
        }
    }

    &__icono {
        font-size: 1.75rem;
        position: relative;
        bottom: 32px;
    }

    p {
        padding: 0 1rem 1rem;
    }
}

/* **************************************** VERSION TABLET ************************************* */

@media (min-width: 768px) {


    /* ---Primera sección Index--- */


    .presentacion__articulo {
        display: grid;
        grid-template-columns: repeat(5, 1fr);

        img {
            grid-row: 1/3;
            grid-column: 3/6;
        }

        h3 {
            grid-column: 1/3;
            align-self: self-end;
        }

        h1 {
            grid-row: 2/3;
            grid-column: 1/3;
            align-self: flex-start;
            text-align: left;
            padding-left: 2rem;
        }
    }

    /* --- Segunda sección Index --- */

    .servicios__container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        margin: 0 1rem;
    }

    /* --- Tercera seccion index */

    .potenciate {
        display: flex;
        flex-direction: row;

        h3 {
            text-align: left;
            padding: 0;
        }
    }

    /* ---Cuarta seccion index--- */

    .testimonios__tarjeta img {
        width: 75px;
        height: 75px;
    }

}

/* ********************* VERSION DESKTOP ************************ */

@media (min-width: 1024px) {

    /* --- Primera seccion index --- */

    .presentacion__articulo h3 {
        padding-left: 3rem;
    }

    /* --- Segunda sección Index --- */

    .servicios__container {
        display: flex;
        flex-direction: row;

        h3 {
            text-align: center;
        }
    }

    /* --- Tercera sección Index --- */

    .potenciate__texto {
        padding: 3rem;
    }

    /* --- Cuarta sección Index --- */

    .testimonios__tarjetacontainer {
        display: flex;
        gap: 1rem;
    }
}

@media (min-width: 1200px) {

    .presentacion {
        &__articulo {
            h1 {
                font-size: 3.7rem;
                padding-left: 3rem;
            }
        }
    }

    .testimonios {
        h3 {
            padding: 2rem 3rem;
            margin: 0 3rem;
            text-align: center;
        }

    }
}

